.page-header{
  border-radius: 10px 10px 10px 10px;
  left: 10px;
  align-self: center;
  padding: 28px;
}

.header-title{
  color: #682ae9;
  font-size: 30px;
  list-style-type: none;
  text-indent: 6%; 
  padding-top:17%;
}

.header-sub1{
  color: #8c8796;
  font-size: 34px;
  list-style-type: none;
  padding-top:0%;
  text-indent: 6%;  
}



/*
.header-sub1{
  color: #8c8796;
  font-size: 34px;
  position: relative;
  left: 4.5%;
  top: 52%;
  list-style-type: none;
  width: 100%;
  height: 100%;
}*/

