/* --------------
About me section
-------------- */
.body-card{
  display: flex;
  justify-content: center; 
}

.bodyFrameworks{
  justify-content: center;
  background-color: #2a2a2a; 
  border-radius: 10px 10px 10px 10px;
  padding-top: 5%;
}
.card-description-header{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 90%;
  padding-left: 10%;
}

.card-description-header h3{
  color: #682ae9;
  font-size: 36px;
  text-align: left;
  font-weight: 800;
}

.card-description-body{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 80%;
  padding-left: 10%;
}

.card-description-body h4{
  color: #cacaca;
  font-size: 21px;
  text-align: left;
}

.row-listPanel{
  display: flex;
  flex-wrap: wrap;
  padding-left: 16%;
  width: 90%;
  height: 45%;
}

.col-lg{
  flex-basis: 18%;
  margin-left: -1%;
  margin-top: 2%;
} 

.col-lg H5{
  color: #682ae9;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 800;
}

.col-lg li{
  color: #cacaca;
  margin-top: 1%;
}

.col-lg ul{
  margin-top: -4%;
  margin-left: -4%;
  margin-bottom: 1rem;
}

.def1 {
  border-color: rgb(36, 36, 36);
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  padding-left: 1%;
  padding-right: 1%;
}

.def2 {
  border-color: rgb(36, 36, 36);
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 8%;
}


.def3 {
  border-color: rgb(36, 36, 36);
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 8%;
}



/* --------------
Projects Section
-------------- */
.bodyProjects{
  background-color: white;
  margin-top: 1%;
  position: absolute;
}

.projectsHeader{
  margin-left: 10%;
  margin-top: 5%;
}

.projectsHeader H4{
  color: #292929;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}

.table{
  margin-left: 10%;
  width: 78%;
}

.table th, .table td{
  border-collapse: collapse;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
  text-align: left;
}

.futureVentures{
  margin-top: 5%;
  margin-left: 10.5%;
}

.venturesTitle H4{
  color: #292929;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}

.venturesContent{
  padding-top: -10px;
}

.venturesContent li{
  padding-top: 5px;
}


