/* --------------
About me section
-------------- */
.body-card{
  display: flex;
  justify-content: center; 
}

.bodyFrameworks{
  justify-content: center;
  background-color: #2a2a2a; 
  border-radius: 10px 10px 10px 10px;
  padding-top: 5%;
  contain: size paint;
  overflow: hidden;
  height: 1%;
  width: auto;
  size: auto;
  /*Ya cunt make sure to use this again*/
  content: "";
  display: table;
  clear: both;
  max-width: 100%;
}
.card-description-header{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 90%;
  padding-left: 10%;
}

.card-description-header h3{
  color: #682ae9;
  font-size: 36px;
  text-align: left;
  font-weight: 800;
}

.card-description-body{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 80%;
  padding-left: 10%;
}

.card-description-body h4{
  color: #cacaca;
  font-size: 21px;
  text-align: left;
}

.row-listPanel{
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  width: 90%;
  height: 45%;
}

.col-lg{
  flex-basis: 18%;
  margin-left: -1%;
  margin-top: 2%;
  font-size: 0.9vw;
} 

.col-lg H5{
  color: #682ae9;
  font-size: 1.7vw;
  line-height: 2;
  font-weight: 800;
  margin-left: 3%;
  margin-top: 4%;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
  
}

.col-lg li{
  color: white;
  margin-top: 4%;
  margin-left: 3%;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
  text-decoration: none;
  margin-right: 2%;
}

.col-lg ul{
  margin-top: -4%;
  margin-left: -4%;
  margin-bottom: 1rem;
}


.def1 {
  padding-top: 20%;
}
.def2 {
  padding-top: 20%;
}
.def3 {
  padding-top: 20%;
}

/* --------------
Cards Section
-------------- */

.card-grid {
  display: flex;
  width: 100%; 
  height: 40%;
  max-width: 100%;
}
.card{
  margin-left: 3%;
}

.card1{
  margin-left: 30%;
}

.card2{
  margin-left: 60%;
}

.card3{
  margin-left: 90%;
}

.card__background{
  border-radius: 10px 10px 10px 10px;
  transition: filter 200ms linear, transform 200ms linear;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 10%;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}



/* --------------
Projects Section
-------------- */
.bodyProjects{
  background-color: white;
  content: "";
  display: table;
  clear: both;
  width: auto;
  size: auto;
  max-width: 100%;
}

.projectsHeader{
  margin-left: 10%;
  margin-top: 3%;
}

.projectsHeader H4{
  color: #292929;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}

.table{
  margin-left: 10vw;
  width: 78%;
}

.table th, .table td{
  border-collapse: collapse;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
  text-align: left;
}

.futureVentures{
  margin-top: 5%;
  margin-left: 10.5%;
}

.venturesTitle H4{
  color: #292929;
  font-size: 30px;
  text-align: left;
  font-weight: 600;
}

.venturesContent{
  padding-top: -10px;
}

.venturesContent li{
  padding-top: 5px;
}

.currentProjects H3{
  color: white;
}


/* --------------
Contact Section
-------------- */

.bodyContact{
  background-color: #2a2a2a; 
  height: 100%;
  content: "";
  display: table;
  clear: both;
  /* position: relative;
  max-width: 99vw;
  size: auto; */
}

.contactRow{
  display: flex;
  /* width: 80%; */
  margin-left: 10vw;
  /* contain: size paint; */
}

.contact h3{
  color: #682ae9;
  font-size: 36px;
  font-weight: 800;
  padding-top: 3%;
  padding-left: 10vw;
}

.professional{
  margin-left: 1%;
  color: #cacaca;
  font-size: 1.3vw;
}

.social{
  color: #cacaca;
  font-size: 1.3vw;
  padding-left: 15vw;
}

.business{
  padding-left: 17vw;
  color: #cacaca;
  font-size: 1.3vw;
}

.professional li{
  font-size: 1.3vw;
  /* margin-left: -10vw; */
  /* margin-top: 3%; */
}

.professional ul{
  margin-top: -6%;
  list-style-type: none;
  margin-left: -3vw
}

.social ul{
  margin-left:-3vw;
  display: flex;
}

.social a{
  font-size: 10px;
}

.business a{
  font-size: 20px;
  margin-left: -20%;
  margin-top: -10%;
  text-decoration: none;
  color: #cacaca;
}

.business a:hover{
  color: #682ae9;
}

.business ul{
  margin-top: 1%;
}

.contact-insta{
  background-image:url('./../img/insta.png');
  display:inline-block;
  height:40px; 
  text-indent:-99999em;
  width:40px; 
  background-position: center;
  object-fit: contain;
  background-size: contain;
}


.contact-insta:hover {
  background-image:url('./../img/insta_highlight.png');
}

.contact-LinkedIn{
  background-image:url('./../img/linked-in.png');
  display:inline-block;
  height:40px; 
  text-indent:-99999em;
  width:40px; 
  background-position: center;
  object-fit:fill;
  background-size: contain;
  margin-left: 1vw;
}

.contact-LinkedIn:hover {
  background-image:url('./../img/linked-in-highlight.png');
}

.contact-Git{
  background-image:url('./../img/git.png');
  display:inline-block;
  height:40px; 
  text-indent:-99999em;
  width:40px; 
  background-position: center;
  object-fit:fill;
  background-size: contain;
  margin-left: 1vw;
}

.contact-Git:hover {
  background-image:url('./../img/git-highlight.png');
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2a2a2a;
  border-color: rgb(0, 0, 0);
  border-width: medium;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: #682ae9;
}

.button:hover span {
  padding-right: 25px;
  color: #682ae9;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width:768px) {
  .text-center{
  text-align: center !important;
  }
}