.body-card{
  display: flex;
  justify-content: center; 
}

.bodyFrameworks{
  display: flex;
  justify-content: center;
  background-color: #2a2a2a; 
  border-radius: 10px 10px 10px 10px;
}
.card-description-header{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 90%;
}

.card-description-header h3{
  color: #cacaca;
  font-size: 36px;
  text-align: right;
}

.card-description-body{
  transition: 0.3s;
  padding: 10px 10px 10px;
  border-radius: 5px; 
  top: 0;
  width: 80%;
}

.card-description-body h4{
  color: #cacaca;
  font-size: 21px;
  text-align: left;
}